* {
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Montserrat,Roboto/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr; 
    grid-template-areas: "sidebar header"
                         "sidebar main"
                         "sidebar main";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    background-color: rgb(25, 146, 212);
    font-family: roboto;
    color: white;
}

.main {
    grid-area: main;
}