* {
    box-sizing: border-box;
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Montserrat,Roboto/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

input {
    border: none;
    border-radius: 10px;
    background-color: rgb(226, 232, 240);
}

button {
    color: white;
    font-weight: bold;
    background-color: rgb(25, 146, 212);
    border: none;
    border-radius: 20px;
    padding: 0.6rem 1.5rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr; 
    grid-template-areas: "sidebar header"
                         "sidebar main"
                         "sidebar main";
}

.header {
    grid-area: header;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.search {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.search-icon {
    width: 1.3em;
    height: 1.3em;
}

.account {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}

.account p {
    justify-self: center;
}

.account img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    justify-self: center;
}

.account-icon {
    width: 1.3em;
    height: 1.3em;
    justify-self: end;
}

.hello {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.hello img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    justify-items: center;
}


.sidebar {
 
    grid-area: sidebar;
    background-color: rgb(25, 146, 212);
    font-family: roboto;
    color: white;
    padding: 0.5rem 5rem 0rem 1rem;
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
}

.sidebar h1 {
    font-size: 1.5rem;
}

.sidebar h2 {
    font-size: 1.2rem;
}

.sidebar .wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;

}

.sidebar-icon {
    fill: white;
    width: 1.3em;
    height: 1.3em;
    margin-right: 1em;
}

.sidebar-icon:has(+ h1) {
    width: 2.5em;
    height: 2.5em;
}

.main {
    grid-area: main;
    background-color: rgb(226, 232, 240);
}
